.footer {
    padding: 30px 30px;
    background-color: #444444;
    color: #fff;

    @media (max-width: 600px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;

        @media (max-width: 900px) {
            width: 80%;
        }

        @media (max-width: 600px) {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}