body {
  color: black;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

/* Projects - START */

.project-section:hover {
  border: 1px solid transparent !important;
}

.project-section-link {
  color: #dde0bd;
}

.project-section-link:hover {
  text-decoration: none !important;
  color: #dde0bd;
}

/* Projects - END */
/* Home - START */

.home-top-label h1 {
  font-size: 50px;
}

.home-top-label h3 {
  font-size: 35px;
}

/* Home - END */
/* Header - START */

.navbar-main {
  background-color: transparent;
}

.navbar-button {
  font-size: 30px;
  color: #dde0bd;
}

.active {
  color: #d69b29 !important;
}

.nav-item a {
  color: #dde0bd;
}

.nav-item a:hover {
  color: #d69b29;
}

/* Header - END */
/* Footer - START */

.footer {
  background-color: #3c210a !important;
}

.footer-div {
  display: flex !important;
}

/* Footer - END */
@media (min-width: 576px) {
  /* Footer - START */
  .footer-div {
    display: flex !important;
  }
  /* Footer - END */
}

@media (min-width: 992px) {
  /* Header - START */
  .header {
    font-size: 22px !important;
  }
  /* Header - END */
}

@media (min-width: 1500px) {
  /* Header - START */
  .header {
    font-size: 24px !important;
  }
  /* Header - END */
}

@media (min-width: 1800px) {
  /* Header - START */
  .header {
    font-size: 26px !important;
  }
  /* Header - END */
}
