.project-section:hover {
  border: 1px solid transparent !important;
}

.project-section-link {
  text-decoration: none !important;
  color: #dde0bd;
}

.project-section-link:hover {
  color: #dde0bd;
}
