.impressum {
    // background-color: rgb(219, 218, 218);
    background-image: url("../../../public/images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    min-height: 92vh;

    .content {
        margin: 0 auto;
        width: 60%;
        padding: 30px;
        background-color: #ffff;

        @media (max-width: 900px) {
            width: calc(100% - 60px);
        }

        @media (max-width: 600px) {
            width: calc(100% - 30px);
            padding: 15px;
        }
    }
}